.border {
    background-color: Chocolate;
    color: white;
}

.text-box {
    background-color: white;
    color: black;
}

a.mp:link {
    color: white;
    text-decoration: none;
}

a.mp:visited {
    color: white;
}

a.mp:hover {
    color: #ffcc00;
}

.svg-tooltip {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple   Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: rgba(69,77,93,.9);
    border-radius: .1rem;
    color: #fff;
    display: block;
    font-size: 14px;
    max-width: 320px;
    padding: .2rem .4rem;
    position: absolute;
    text-overflow: ellipsis;
    white-space: pre;
    z-index: 300;
    visibility: hidden;
  }