{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AQC - {{algorithm}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'bootstrap.min.css' %}"
    />
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
  </head>

  <body>
    <div class="d-flex">
      <div class="row bg-color">
        <div class="col-sm-1">
          <br /><br /><br />
          <a class="mp" href="/"><p>Main Page</p></a>
          {% for a in algorithms %}
          <a class="mp" href="/{{a.short}}"><p>{{a.name}}</p></a>
          {% endfor %}
          <a class="mp" href="/docs"><p>Documentation</p></a>
        </div>
        <div class="col-sm-11 mt-3">
          <div class="row m-1">
            <div class="col-sm-12">
              <h1>{{algorithm}}</h1>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-sm-11 text-box rounded-top p-3">
              <p>
                This demo runs algorithm with D-Wave leap local annealing
                simulator and quantum solver. Beware, quantum solver can have
                long waiting-time to run if many qubits are needed.
              </p>
              <p>{{ correctness}}</p>
              <p>
                Solver API token is needed if hybrid solver or quantum solver
                are used.
              </p>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-sm-4 text-box mt-2">
              <h2>Solver and graph parameters</h2>
              <form action="" method="POST" id="paramsForm">
                {% csrf_token %}
                <div class="row">
                  <div class="col-sm-4">
                    <p>Solver:</p>
                  </div>
                  <div class="col-sm-8">
                    <select class="form-select" id="solver" name="solver">
                      {% for s in solvers %} {% if s == solver %}
                      <option value="{{ s }}" selected="selected">
                        {{ s }}
                      </option>
                      {% else %}
                      <option value="{{ s }}">{{ s }}</option>
                      {% endif %} {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <p>Solver API Token:</p>
                  </div>
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      name="token"
                      value="{{token}}"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <p>Numer of reads:</p>
                  </div>
                  <div class="col-sm-8">
                    <input
                      type="number"
                      class="form-control"
                      name="num_reads"
                      value="{{num_reads}}"
                      max="{{max_num_reads}}"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <p>Graph type:</p>
                  </div>
                  <div class="col-sm-8">
                    <select class="form-select" name="graph_type">
                      {% for t in graph_types %} {% if t == graph_type %}
                      <option value="{{ t }}" selected="selected">
                        {{ t }}
                      </option>
                      {% else %}
                      <option value="{{ t }}">{{ t }}</option>
                      {% endif %} {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <p>Vertices:</p>
                  </div>
                  <div class="col-sm-8">
                    <input
                      type="number"
                      class="form-control"
                      name="vertices"
                      value="{{vertices}}"
                      min="{{min_vertices}}"
                      max="{{max_vertices}}"
                    />
                  </div>
                </div>
                {% if communities %}
                <div class="row">
                  <div class="col-sm-4">
                    <p>Max communities:</p>
                  </div>
                  <div class="col-sm-8">
                    <input
                      type="number"
                      class="form-control"
                      name="communities"
                      value="{{communities}}"
                      min="{{min_communities}}"
                      max="{{max_communities}}"
                    />
                  </div>
                </div>
                {% endif %} {% if error %}
                <p><b>ERROR: {{error}}</b></p>
                {% endif %}
                <br />
                <div class="row">
                  <div class="col-sm-4">
                    <input
                      class="btn btn-primary"
                      type="submit"
                      value="Run algorithm"
                      id="submit-button"
                    />
                  </div>
                  <div class="col-sm-8">
                    <p id="run-message"></p>
                  </div>
                </div>
                <br />
              </form>
            </div>
            {% if gdata %}
            <div class="col-sm-7 mt-2 xborder" id="graph-section">
              <div class="text-box">
                <h2>Graph</h2>
                <div id="graph_image"></div>
              </div>
            </div>
            {% endif %}
          </div>
          <div class="row m-0">
            <div class="col-sm-4 text-box mt-2" id="result-section">
              {% if result %}
              <h2>Measurements</h2>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Indicator</th>
                    <th scope="col">Value</th>
                  </tr>
                </thead>
                <tbody>
                  {% if result.vertices %}
                  <tr>
                    <td>Vertices</td>
                    <td>{{result.vertices}}</td>
                  </tr>
                  {% endif %} 
                  {% if result.edges %}
                  <tr>
                    <td>Edges</td>
                    <td>{{result.edges}}</td>
                  </tr>
                  {% endif %} 
                  {% if result.qubo_size %}
                  <tr>
                    <td>Qubo size</td>
                    <td>{{result.qubo_size}}x{{result.qubo_size}}</td>
                  </tr>
                  {% endif %} 
                  {% if result.chipset %}
                  <tr>
                    <td>Chipset</td>
                    <td>{{result.chipset}}</td>
                  </tr>
                  {% endif %} 
                  {% if result.logical_qubits %}
                  <tr>
                    <td>Logical qubits</td>
                    <td>{{result.logical_qubits}}</td>
                  </tr>
                  {% endif %} 
                  {% if result.physical_qubits %}
                  <tr>
                    <td>Physical qubits</td>
                    <td>{{result.physical_qubits}}</td>
                  </tr>
                  {% endif %} 
                  {% if result.couplers %}
                  <tr>
                    <td>Couplers</td>
                    <td>{{result.couplers}}</td>
                  </tr>
                  {% endif %} 
                  {% if result.time %}
                  <tr>
                    <td>CPU/QPU Time</td>
                    <td>{{result.time}} ms</td>
                  </tr>
                  {% endif %} 
                  {% if result.energy %}
                  <tr>
                    <td>Lowest energy</td>
                    <td>{{result.energy}}</td>
                  </tr>
                  {% endif %} 
                  {% if result.exp_energy %}
                  <tr>
                    <td>Expected energy</td>
                    <td>{{result.exp_energy}}</td>
                  </tr>
                  {% endif %} 
                  {% if result.success %}
                  <tr>
                    <td>Correctness</td>
                    <td>{{result.success}}</td>
                  </tr>
                  {% endif %} 
                  {% if result.chainb %}
                  <tr>
                    <td>Chain break fraction (lowest)</td>
                    <td>{{result.chainb}}</td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
              {% endif %} 
            </div>
            {% if qdata %}
            <div class="col-sm-7 mt-2 xborder" id="heatmap-section">
              <div class="text-box">
                <h2>QUBO heatmap</h2>
                <div class="text-box p-3" id="heatmap_image"></div>
              </div>
            </div>
            {% endif %}
          </div>

          <div class="row m-0">
            <div class="col-sm-4 mt-2" id="paths-section">        
              {% if result.paths %}
              <div class="text-box">
                <h2>Shortest paths</h2>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Nodes</th>
                      <th scope="col">Path</th>
                      <th scope="col">Weight</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for x in result.paths %}
                    <tr>
                      <td>{{ x.nodes }}</td>
                      <td>{{ x.path }}</td>
                      <td>{{ x.weight }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              {% endif %}
            </div>
            {% if hdata %}
            <div class="col-sm-7 mt-2 xborder" id="histogram-section">
              <div class="text-box">
                <h2>Energy levels and occurences</h2>
                <div class="text-box p-3" id="histogram_image"></div>
              </div>
            </div>
            {% endif %}
          </div>

          <div class="row">
            <footer class="py-4 text-center">
              <p>Lauri Vuorenkoski & Valter Uotila, 2023</p>
            </footer>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'd3.v7.min.js' %}"></script>
    <script src="{% static 'd3_functions.js' %}"></script>
    {% if gdata %}
    <script type="text/javascript">
      var data = {{ gdata.data|safe }}
      var colors = {{ gdata.colors|safe }}
      var directed = {{ gdata.directed }}
      var weights = {{ gdata.weights }}
      create_graph_dw(data, colors, directed, weights, "#graph_image")
    </script>
    {% endif %} 
    {% if hdata %}
    <script type="text/javascript">
      var hdata = {{ hdata|safe }}
      create_histogram(hdata, "#histogram_image")
    </script>
    {% endif %}
    {% if qdata %}
    <script type="text/javascript">
      var qdata = {{ qdata.data |safe }}
      var size = {{ qdata.size }}
      create_heatmap(qdata, size, "#heatmap_image")
    </script>
    {% endif %}

    <script type="text/javascript">
      function add_dot() {
        document.getElementById("run-message").textContent += ".";
      }
      document.getElementById("paramsForm").addEventListener("submit", (e) => {
        document.getElementById("submit-button").disabled = true;
        document.getElementById("run-message").textContent = "Running";
        document.getElementById("result-section").remove();
        document.getElementById("histogram-section").remove();
        document.getElementById("graph-section").remove();
        document.getElementById("heatmap-section").remove();
        document.getElementById("paths-section").remove();
        window.setInterval(add_dot, 1000);
      });
    </script>
  </body>
</html>
