{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AQC demo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"/>
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
  </head>

  <body>
    <div class="container-fluid">
      <div class="row bg-color">
        <div class="col-sm-1">
          <br /><br /><br />
          <a class="mp" href="/"><p>Main Page</p></a>
          <a class="mp" href="/apsp"><p>All pairs shortest path</p></a>
          <a class="mp" href="/gi"><p>Graph isomorphism</p></a>
          <a class="mp" href="/cd"><p>Community detection</p></a>
          <a class="mp" href="/docs"><p>Documentation</p></a>
        </div>
        <div class="col-sm-11 mt-3">
          <div class="row m-1">
            <div class="col-sm-12">
              <h1>AQC demo</h1>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-sm-9 text-box rounded-top p-3">
              <p>
                This demo runs community detection algorithm with D-Wave leap
                heuristic local annealing simulator, hybrid solver in the cloud
                and quantum solver. Beware, quantum solver can have long
                waiting-time to run if many qubits are needed.
              </p>
              <p>
                Solver API token is needed if hybrid solver or quantum solver
                are used.
              </p>
              <p>Version 0.8</p>
              <br /><br /><br />
            </div>
          </div>
          <div class="row">
            <footer class="py-4 text-center">
              <p>Lauri Vuorenkoski & Valter Uotila, 2024</p>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
