{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
    <title>All pairs shortest path</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    </head>

    <body>
    
        <div class="container-fluid">    
            <div class="row border">
                <div class="col-sm-1">
                    <br>
                    <a class="mp" href="/"><p>Main Page</p></a>
                </div>
                <div class="col-sm-11">
                    <div class="row m-2">
                        <div class="col-sm-12">    
                            <h1>All pairs shortest path - demo</h1>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-sm-11 text-box m-1 rounded-top">    
                            <p>This demo runs all pairs shorest paht algorithm with D-Wave leap local annealing simulator and quantum solver. 
                                Beware, quantum solver can have long waiting-time to run if many qubits are needed.</p>
                            <p>Solver API token is needed if hybrid solver or quantum solver are used.</p>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-sm-4 text-box m-1">    

                            <h2>Solver and graph parameters</h2>
                            <form action="" method="POST" id="paramsForm">
                                {% csrf_token %} 
                                <div class="row">
                                    <div class="col-sm-4">    
                                        <p>Solver:</p>
                                    </div>
                                    <div class="col-sm-8">    
                                        <select class="form-select" id="solver" name="solver">
                                        {% for s in solvers %}
                                            {% if s == solver %}
                                                <option value="{{ s }}" selected="selected">{{ s }}</option>
                                            {% else %}
                                                <option value="{{ s }}">{{ s }}</option>
                                            {% endif %}
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">    
                                        <p>Solver API Token:</p>
                                    </div>
                                    <div class="col-sm-8">    
                                        <input type="text" class="form-control" name="token" value={{token}}>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">    
                                        <p>Numer of reads:</p>
                                    </div>
                                    <div class="col-sm-8">    
                                        <input type="number" class="form-control" name="num_reads" value={{num_reads}} max="{{max_num_reads}}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">    
                                        <p>Graph type:</p>
                                    </div>
                                    <div class="col-sm-8">    
                                        <select class="form-select" name="graph_type">
                                        {% for t in graph_types %}
                                            {% if t == graph_type %}
                                                <option value="{{ t }}" selected="selected">{{ t }}</option>
                                            {% else %}
                                                <option value="{{ t }}">{{ t }}</option>
                                            {% endif %}
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">    
                                        <p>Vertices:</p>
                                    </div>
                                    <div class="col-sm-8">    
                                        <input type="number" class="form-control" name="vertices" value={{vertices}} min="{{min_vertices}}" max="{{max_vertices}}">
                                    </div>
                                </div>
                                {% if error %}
                                    <p><b>ERROR: {{error}}</b></p>    
                                {% endif %}
                                <br>
                                <div class="row">
                                    <div class="col-sm-4">    
                                        <input class="btn btn-primary" type="submit" value="Run algorithm" id="submit-button">
                                    </div>
                                    <div class="col-sm-8">    
                                        <p id ="run-message"></p>
                                    </div>
                                </div>
                                <br>
                            </form>
                        </div>
                        <div class="col-sm-7 text-box m-1">    
                            <div id="graph_image"></div>
                        </div>
                    </div>                    
                    <div class="row m-2">
                        <div class="col-sm-4 text-box m-1">   
                            {% if result %}
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Indicator</th>
                                        <th scope="col">Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if result.vertices %}
                                    <tr>
                                        <td>Vertices</td>
                                        <td>{{result.vertices}}</td>
                                    </tr>
                                    {% endif %}
                                    {% if result.edges %}
                                    <tr>
                                        <td>Edges</td>
                                        <td>{{result.edges}}</td>
                                    </tr>
                                    {% endif %}
                                    {% if result.qubo_size %}
                                    <tr>
                                        <td>Qubo size</td>
                                        <td>{{result.qubo_size}}x{{result.qubo_size}}</td>
                                    </tr>
                                    {% endif %}
                                    {% if result.chipset %}
                                    <tr>
                                        <td>Chipset</td>
                                        <td>{{result.chipset}}</td>
                                    </tr>
                                    {% endif %}
                                    {% if result.logical_qubits %}
                                    <tr>
                                        <td>Logical qubits</td>
                                        <td>{{result.logical_qubits}}</td>
                                    </tr>
                                    {% endif %}
                                    {% if result.physical_qubits %}
                                    <tr>
                                        <td>Physical qubits</td>
                                        <td>{{result.physical_qubits}}</td>
                                    </tr>
                                    {% endif %}
                                    {% if result.couplers %}
                                    <tr>
                                        <td>Couplers</td>
                                        <td>{{result.couplers}}</td>
                                    </tr>
                                    {% endif %}
                                    
                                    {% if result.time %}
                                    <tr>
                                        <td>CPU/QPU Time</td>
                                        <td>{{result.time}} ms</td>
                                    </tr>
                                    {% endif %}
                                    {% if result.energy %}
                                    <tr>
                                        <td>Lowest energy</td>
                                        <td>{{result.energy}}</td>
                                    </tr>
                                    {% endif %}
                                    {% if result.success %}
                                    <tr>
                                        <td>Success rate</td>
                                        <td>{{result.success}}%</td>
                                    </tr>
                                    {% endif %}
                                    {% if result.chainb %}
                                    <tr>
                                        <td>Chain break fraction (lowest)</td>
                                        <td>{{result.chainb}}</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                            {% endif %}
                            {% if result.paths %}
                            <h2>Shortest paths</h2>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Nodes</th>
                                        <th scope="col">Path</th>
                                        <th scope="col">Weight</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for x in result.paths %}
                                    <tr>
                                        <td>{{ x.nodes }}</td>
                                        <td>{{ x.path }}</td>
                                        <td>{{ x.weight }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                        </div>
                        <div class="col-sm-7 text-box m-1">    
                            {% if histogram %}
                            <img src="data:image/png;base64, {{histogram|safe}}" alt="" id="img">
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <footer class="py-4 text-center">
                            <p>Lauri Vuorenkoski, 2023</p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>

        <div id="histogram_image"></div>

        <script src="https://d3js.org/d3.v6.js"></script>

        <script type="text/javascript">
            document.getElementById("paramsForm").addEventListener("submit", (e) => {
              document.getElementById("submit-button").disabled = true;
              document.getElementById("run-message").textContent = "Running...";
            });
        </script>

        <script type="text/javascript">
            drag = simulation => {
                function dragstarted(event, d) {
                    if (!event.active) simulation.alphaTarget(0.3).restart();
                    d.fx = d.x;
                    d.fy = d.y;
                }
                
                function dragged(event, d) {
                    d.fx = event.x;
                    d.fy = event.y;
                }
                
                function dragended(event, d) {
                    if (!event.active) simulation.alphaTarget(0);
                    d.fx = null;
                    d.fy = null;
                }
                
                return d3.drag()
                    .on("start", dragstarted)
                    .on("drag", dragged)
                    .on("end", dragended);
            }

            var gdata = {{ gdata|safe }}

            const width = 750;
            const height = 450;
            const types = Array.from(new Set(gdata.map(d => d.type)));
            const nodes = Array.from(new Set(gdata.flatMap(l => [l.source, l.target])), id => ({id}));
            const links = gdata.map(d => Object.create(d))

            const color = d3.scaleOrdinal(types, d3.schemeCategory10);

            const simulation = d3.forceSimulation(nodes)
                .force("link", d3.forceLink(links).id(d => d.id).distance(60))
                .force("charge", d3.forceManyBody().strength(-400))
                .force("x", d3.forceX())
                .force("y", d3.forceY());

            const svg = d3.select("#graph_image").append("svg")
                .attr("viewBox", [-width / 2, -height / 2, width, height])
                .attr("width", width)
                .attr("height", height)
                .attr("style", "max-width: 100%; height: auto; font: 12px sans-serif;");

            // Per-type markers, as they don't inherit styles.
            svg.append("defs").selectAll("marker")
            .data(types)
            .join("marker")
                .attr("id", "arrow")
                .attr("viewBox", "0 -5 10 10")
                .attr("refX", 15)
                .attr("refY", -0.5)
                .attr("markerWidth", 6)
                .attr("markerHeight", 6)
                .attr("orient", "auto")
            .append("path")
                .attr("fill", "orange")
                .attr("d", "M0,-5L10,0L0,5");

            const link = svg.append("g")
                .attr("fill", "none")
                .attr("stroke-width", 1.5)
            .selectAll("path")
            .data(links)
            .join("path")
                .attr("stroke", "orange")
                .attr("marker-end", d => `url(${new URL(`#arrow`, location)})`);

            const edgepaths = svg.selectAll(".edgepath") //make path go along with the link provide position for link labels
                .data(links)
                .enter()
                .append('path')
                .attr('class', 'edgepath')
                .attr('fill-opacity', 0)
                .attr('stroke-opacity', 0)
                .attr('id', function (d, i) {return 'edgepath' + i})
                .style("pointer-events", "none");

            const edgelabels = svg.selectAll(".edgelabel")
                .data(links)
                .enter()
                .append('text')
                .style("pointer-events", "none")
                .attr('class', 'edgelabel')
                .attr('id', function (d, i) {return 'edgelabel' + i})
                .attr('font-size', 12)
                .attr('fill', 'black');

            edgelabels.append('textPath') //To render text along the shape of a <path>, enclose the text in a <textPath> element that has an href attribute with a reference to the <path> element.
                .attr('xlink:href', function (d, i) {return '#edgepath' + i})
                .style("text-anchor", "middle")
                .style("pointer-events", "none")
                .attr("startOffset", "50%")
                .text(d => d.type);
  

            const node = svg.append("g")
                .attr("fill", "currentColor")
                .attr("stroke-linecap", "round")
                .attr("stroke-linejoin", "round")
            .selectAll("g")
            .data(nodes)
            .join("g")
                .call(drag(simulation));

            node.append("circle")
                .attr("stroke", "white")
                .attr("stroke-width", 1.5)
                .attr("r", 8);

            node.append("text")
                .attr("x", 8)
                .attr("y", "0.31em")
                .text(d => d.id)
            .clone(true).lower()
                .attr("fill", "none")
                .attr("stroke", "white")
                .attr("stroke-width", 3);

            simulation.on("tick", () => {
                link.attr("d", linkArc);
                node.attr("transform", d => `translate(${d.x},${d.y})`);
                edgepaths.attr('d', d => 'M ' + d.source.x + ' ' + d.source.y + ' L ' + d.target.x + ' ' + d.target.y);
            });

            function linkArc(d) {
                const r = Math.hypot(d.target.x - d.source.x, d.target.y - d.source.y);
                return `
                    M${d.source.x},${d.source.y}
                    A${r},${r} 0 0,1 ${d.target.x},${d.target.y}
                `;
            }
        </script>

        <script type="text/javascript">
//            var hdata = {{ hdata|safe }}
            var hdata = [{"letter":"A","frequency":0.08167},{"letter":"B","frequency":0.01492},{"letter":"C","frequency":0.02782},{"letter":"D","frequency":0.04253},{"letter":"E","frequency":0.12702},{"letter":"F","frequency":0.02288},{"letter":"G","frequency":0.02015},{"letter":"H","frequency":0.06094},{"letter":"I","frequency":0.06966},{"letter":"J","frequency":0.00153},{"letter":"K","frequency":0.00772},{"letter":"L","frequency":0.04025},{"letter":"M","frequency":0.02406},{"letter":"N","frequency":0.06749},{"letter":"O","frequency":0.07507},{"letter":"P","frequency":0.01929},{"letter":"Q","frequency":0.00095},{"letter":"R","frequency":0.05987},{"letter":"S","frequency":0.06327},{"letter":"T","frequency":0.09056},{"letter":"U","frequency":0.02758},{"letter":"V","frequency":0.00978},{"letter":"W","frequency":0.0236},{"letter":"X","frequency":0.0015},{"letter":"Y","frequency":0.01974},{"letter":"Z","frequency":0.00074}]

            // Specify the chart’s dimensions.
            const hwidth = 928;
            const hheight = 500;
            const hmarginTop = 20;
            const hmarginRight = 0;
            const hmarginBottom = 30;
            const hmarginLeft = 40;
    
            // Create the horizontal scale and its axis generator.
            const x = d3.scaleBand()
            .domain(d3.sort(hdata, d => -d.frequency).map(d => d.letter))
            .range([hmarginLeft, hwidth - hmarginRight])
            .padding(0.1);
        
            const xAxis = d3.axisBottom(x).tickSizeOuter(0);
        
        
            // Create the vertical scale.
            const y = d3.scaleLinear()
            .domain([0, d3.max(hdata, d => d.frequency)]).nice()
            .range([hheight - hmarginBottom, hmarginTop]);
        
            // Create the SVG container and call the zoom behavior.
            const svg2 = d3.select("#histogram_image").append("svg")
                .attr("viewBox", [0, 0, hwidth, hheight])
                .attr("width", hwidth)
                .attr("height", hheight)
                .attr("style", "max-width: 100%; height: auto;")
                .call(zoom);
        
            // Append the bars.
            svg2.append("g")
                .attr("class", "bars")
                .attr("fill", "steelblue")
            .selectAll("rect")
            .data(hdata)
            .join("rect")
                .attr("x", d => x(d.letter))
                .attr("y", d => y(d.frequency))
                .attr("height", d => y(0) - y(d.frequency))
                .attr("width", x.bandwidth());
        
            // Append the axes.
            svg2.append("g")
                .attr("class", "x-axis")
                .attr("transform", `translate(0,${hheight - hmarginBottom})`)
                .call(xAxis);
        
            svg2.append("g")
                .attr("class", "y-axis")
                .attr("transform", `translate(${hmarginLeft},0)`)
                .call(d3.axisLeft(y))
                .call(g => g.select(".domain").remove());
        
            function zoom(svg2) {
            const extent = [[hmarginLeft, hmarginTop], [hwidth - hmarginRight, hheight - hmarginTop]];
        
            svg2.call(d3.zoom()
                .scaleExtent([1, 8])
                .translateExtent(extent)
                .extent(extent)
                .on("zoom", zoomed));
        
            function zoomed(event) {
                x.range([hmarginLeft, hwidth - hmarginRight].map(d => event.transform.applyX(d)));
                svg2.selectAll(".bars rect").attr("x", d => x(d.letter)).attr("width", x.bandwidth());
                svg2.selectAll(".x-axis").call(xAxis);
            }
        }
    </script>
    </body>
</html>